[Unit]
Description = Node Exporter Service

[Service]
ExecStart=/opt/node_exporter-{{node_exporter_version}}.linux-amd64/node_exporter --collector.systemd
SyslogIdentifier=node-exporter

[Install]
WantedBy=multi-user.target